<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<title>代练代打</title>
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
    <script th:src="@{/dist/js/jx3/jquery.js}"></script>
    <script th:src="@{/dist/js/jx3/bt.js}"></script>
    <script th:src="@{/dist/js/jx3/base.js}"></script>
</head>

<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div>
<!-- navigation -->
<div class="navCon">
    <div class="nav"><a href="index">首页</a><a href="accountList">账号交易</a><a href="appearanceSale">外观交易</a><a href="propSale" class="cur">道具交易</a><a href="goldExchangeList">金币收售</a><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="login">剑三老玩家</a><img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
 <div id="mcon">

<!-- top content -->
<div class="topContent"> 
  <!-- Convenient entrance -->
  <div class="searchcon">
   <div class="s_top">
     <ul>
      <li class="cur">代练代打</li>
     </ul>
     <div class="clear"></div>
     <div class="sline"></div>
   </div>
   <div class="searchinput">
   <div class="logincon searccon levecon">
     <table>
      <tr>
       <td align="right" class="wr ft1">区服：</td>
          <td onLoad="setup()" style="margin:0">
              <form name="frm">
                  <select style="width: 100px;" id="pre" onchange="chg(this);">
                      <option value="-1">请选择</option>
                  </select>
                  <select style="width: 100px;" id="city" onchange="chg2(this)" ;>
                      <option value="-1">请选择</option>
                  </select>
                  <select style="width: 100px;" id="area">
                      <option value="-1">请选择</option>
                  </select>
      </tr>
       <tr>
         <td align="right" class="wr ft1">事项：</td>
         <td><input type="text" placeholder="大杀四方/jjc/大战日常等" /></td>
       </tr>
       <tr>
         <td class="wr ft1"></td>
         <td colspan="2"><a href="#" class="query-l">查询</a><a href="#" style="margin-left: 5px;" class="issue-l">发布</a></td>
       </tr>
     </table>
     <div class="searchNull" style="display: none">暂无查询结果！</div>
     <div style="display: none" class="table">
      <div class="table-tr tablered">
        <div class="table-th table-th11">区服</div>
        <div class="table-th table_lw">代练代打代清介绍</div>
        <div class="table-th">接或找</div>
        <div class="table-th">关注度</div>
        <div class="table-th">上架时间</div>
        <div class="table-th">状态报告</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td ">找</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td warn">已有13人报告失效</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>


    </div>
    </div>
   </div>
  </div>
  <div class="classifiedList">
    <div class="table">
      <div class="table-tr tablered">
        <div class="table-th table-th1" style="width: 11% !important;padding-left: 30px;">区服</div>
        <div class="table-th">代练代打代清介绍</div>
        <div class="table-th">接或打<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
        <div class="table-th">关注度<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
        <div class="table-th">上架时间<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
        <div class="table-th">状态报告<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td ">找</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td warn">13人报告|<a href="###">提交失效</a></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
      <div class="table-tr last">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td table_lw">黑盒子套装，包括：成衣、披风、肩饰。</div>
        <div class="table-td">接</div>
        <div class="table-td">1</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
      </div>
     
    </div>
  </div>
  <div class="pagers">
   <ul class="pagination">
      <li class="disabled"><a href="#">首页</a></li>
      <li class="disabled"><a href="#">上一页</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">40</a></li>
      <li><a href="#">41</a></li>
      <li><a href="#">下一页</a></li>
      <li><a href="#">尾页</a></li>
</ul>
  </div>
</div>
</div></div>
<!-- foot -->
<div class="footcontent">
<a href="#">关于我们</a> | <a href="#">常见问题</a> | <a href="#">免责声明</a> | <a href="#">友情链接</a> | <a href="#">联系我们</a><br>
Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备15009570号
</div>
</body>
<script>
    //声明省
    var pres = ["双线","电月","电点","网通"]; //直接声明Array
    //声明市
    var cities = [
        ["双一","双二"],
        ["电一","电二","电三","电四","电六","电七"],
        ["电五","电八"],
        ["网一"," 网三"]
    ];
    var areas = [
        [
            ["双剑合璧","天下归一","日月凌空","比翼齐飞"],
            ["四海一家","风雷刀谷"]
        ],
        [
            ["长安城","龙争虎斗"],
            ["白帝城","相知莫问","荻花宫"],
            ["微山书院","秀名尘身","秦王殿","金蛇漫舞"],
            ["日月明尊","沁园春","蝶恋花"],
            ["名扬四海","红尘寻梦","大圣归来"],
            ["一苇渡江","仙侣情缘","情深似海"]
        ],
        [
            ["乾坤一掷","剑胆琴心","千岛湖","平步青云","唯我独尊","梦江南","斗转星移","幽月轮","武林同庆","金榜题名"],
            ["战无不胜","亢龙有悔","引仙水榭","暗香掠影","百家争鸣","绝代天骄","风骨霸刀"]
        ],
        [
            ["李忘生","飞龙在天","松烟竹雾"],
            ["破阵子","天鹅坪","雪絮金屏","飞鸢泛月"]
        ]
    ]
    //设置一个省的公共下标
    var pIndex = -1;
    var preEle = document.getElementById("pre");
    var cityEle = document.getElementById("city");
    var areaEle = document.getElementById("area");
    //先设置省的值
    for (var i = 0; i < pres.length; i++) {
        //声明option.<option value="pres[i]">Pres[i]</option>
        var op = new Option(pres[i], i);
        //添加
        preEle.options.add(op);
    }
    function chg(obj) {
        if (obj.value == -1) {
            cityEle.options.length = 0;
            areaEle.options.length = 0;
        }
        //获取值
        var val = obj.value;
        pIndex = obj.value;
        //获取ctiry
        var cs = cities[val];
        //获取默认区
        var as = areas[val][0];
        //先清空市
        cityEle.options.length = 0;
        areaEle.options.length = 0;
        for (var i = 0; i < cs.length; i++) {
            var op = new Option(cs[i], i);
            cityEle.options.add(op);
        }
        for (var i = 0; i < as.length; i++) {
            var op = new Option(as[i], i);
            areaEle.options.add(op);
        }
    }
    function chg2(obj) {
        var val = obj.selectedIndex;
        var as = areas[pIndex][val];
        areaEle.options.length = 0;
        for (var i = 0; i < as.length; i++) {
            var op = new Option(as[i], i);
            areaEle.options.add(op);
        }
    }
</script>
<script type="text/javascript">
    $('.table-th').click(function () {
        if($(this).children('.sort').length>0){
            $(this).children('.sort').toggleClass('active');
        }
    });
$().ready(function(e) {
    $(".s_top ul li").click(function(){
		$(".s_top ul li").removeClass('cur');
		$(this).addClass('cur')
	})
});
</script>
</html>
