<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<title>道具交易</title>
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
    <script th:src="@{/dist/js/jx3/jquery.js}"></script>
    <script th:src="@{/dist/js/jx3/base.js}"></script>
    <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
</head>
<style>
    .inputtitle {
        font-size: 16px;
        display: inline-block;
        text-align: left;
    }
    .madalHide {
        display: block;
        opacity: 1;
        background: rgba(0,0,0,.5);
    }
    .modal-header {
        text-align: center;
    }
    .madalHide .modal-dialog {
        margin: 130.5px auto;
    }
    .group-item input {
        border-radius: 4px;
        border: 1px solid #dadada;
        padding-left: 10px;
        height: 34px;
    }

</style>
<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div>
<!-- navigation -->
<div class="navCon">
  <div class="nav"><a href="index">首页</a><a href="accountList">账号交易</a><a href="appearanceSale">外观交易</a><a href="propSale" class="cur">道具交易</a><a href="goldExchangeList">金币收售</a><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="login">剑三老玩家</a><img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
 <div id="mcon">

<!-- top content -->
<div class="topContent"> 

  <div class="searchcon">
   <div class="s_top">
     <ul>
      <li class="cur">道具出售</li>
      <!--<li>道具求购</li>-->
     </ul>
     <div class="clear"></div>
     <div class="sline"></div>
   </div>
   <div class="searchinput">
   <div class="logincon searccon">
     <span class="show0">
       <table>
           <tr>
                    <td align="right" class="wr ft1">收售：</td>
                    <td><ul class="nav nav-pills">
                        <li class="dropdown all-camera-dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 购买 <b class="caret"></b> </a>
                            <ul class="dropdown-menu">
                                <li data-filter-camera-type="all"><a data-toggle="tab" href="#">购买</a></li>
                                <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">出售</a></li>
                            </ul>
                        </li>
                    </ul></td>
                </tr>
        <tr>
         <td align="right" class="wr ft1">区服：</td>
         <td onLoad="setup()" style="margin:0">
              <form name="frm">
                  <select style="width: 100px;" id="pre" onchange="chg(this);">
                      <option value="-1">请选择</option>
                  </select>
                  <select style="width: 100px;" id="city" onchange="chg2(this)" ;>
                      <option value="-1">请选择</option>
                  </select>
                  <select style="width: 100px;" id="area">
                      <option value="-1">请选择</option>
                  </select>
        </tr>
        <tr>
         <td align="right" class="wr ft1">外观：</td>
         <td colspan="2"><input type="password" placeholder="如：花萝" /></td>
        </tr>
        <tr>
         <td class="wr ft1"></td>
         <td colspan="2"><a href="#" class="query-l">查询</a><a href="#" class="issue-l">我要发布</a></td>
         <td></td>
        </tr>
       </table>
     </span>
	 <!--<span class="show1">
      <table>
       <tr>
     	<td align="right" class="wr ft1">区服：</td>
     	<body onLoad="setup()" style="margin:0">
       <td onLoad="setup()" style="margin:0">
			<form name="frm">
			<select style="width: 100px;" id="s1"> <option>请选择</option> </select>
			<select style="width: 100px;" id="s2"> <option>请选择 </option> </select>
			<select style="width: 100px;" id="s3"> <option>请选择 </option> </select>
			</form>
		</td>

		</body>
      </tr>
        <tr>
         <td align="right" class="wr ft1">外观：</td>
         <td colspan="2"><input type="password" placeholder="如：花萝" /></td>
        </tr>
        <tr>
         <td class="wr ft1"></td>
         <td colspan="2"><a href="#" class="query-l">查询</a><a href="#" class="issue-l">我要发布</a></td>
         <td></td>
        </tr>
       </table>
    </span>-->
     <div style="display: none" class="searchNull">暂无查询结果！</div>
     <div style="display: none" class="table">
      <div class="table-tr tablered">
        <div class="table-th table-th11">区服</div>
        <div class="table-th">道具名</div>
        <div class="table-th table_lw">介绍说明</div>
          <div class="table-th">收/售</div>
        <div class="table-th">价格意向</div>
        <div class="table-th">关注度</div>
        <div class="table-th">上架时间</div>
        <div class="table-th">状态报告</div>
        <div class="table-th">收藏</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw"><a class="modalBtn" href="javascript:;">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</a></div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td warn">13人报告|<a href="###">提交失效</a></div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr last">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>

    </div>
    </div>
   </div>
  </div>
  <div class="classifiedList">
    <div class="table">
      <div class="table-tr tablered">
        <div class="table-th table-th1" style="width: 11% !important;padding-left: 30px;">区服</div>
        <div class="table-th">道具名</div>
        <div class="table-th ">介绍说明</div>
          <div class="table-th ">收/售<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
          <div class="table-th">价格（元）<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
          <div class="table-th">关注度<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
          <div class="table-th">上架时间<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
          <div class="table-th">状态报告<div class="sort"><p class="top00"></p><p class="down00"></p></div></div>
        <div class="table-th">收藏</div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw"><a class="modalBtn" href="javascript:;">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</a></div>
        <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td warn">13人报告|<a href="###">提交失效</a></div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div><div class="table-tr">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
        <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
      <div class="table-tr last">
        <div class="table-td">电五唯满侠</div>
        <div class="table-td">花姐</div>
        <div class="table-td table_lw">2k5出电点狐金蝶金鸡金猴红七红鸡红毒...</div>
          <div class="table-td">出售</div>
        <div class="table-td">4000</div>
        <div class="table-td">20人</div>
        <div class="table-td">3天前</div>
        <div class="table-td">正常</div>
        <div class="table-td"><i class="icon-save"></i></div>
      </div>
    </div>
  </div>
  <div class="pagers">
      <ul class="pagination">
          <li class="disabled"><a href="#">首页</a></li>
          <li class="disabled"><a href="#">上一页</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">40</a></li>
          <li><a href="#">41</a></li>
          <li><a href="#">下一页</a></li>
          <li><a href="#">尾页</a></li>
      </ul>
  </div>
</div>
</div></div>
<!-- foot -->
<div class="footcontent">
<a href="#">关于我们</a> | <a href="#">常见问题</a> | <a href="#">免责声明</a> | <a href="#">友情链接</a> | <a href="#">联系我们</a><br>
Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备15009570号
</div>
</body>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <span class="inputtitle">本账号来自百度贴吧：</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <table border="1">
                    <tr>
                        <td align="center"  valign="middle" bgcolor="#ccc" width="150px" height="30">发布时间</td>
                        <td align="center"  valign="middle" width="420px" height="30">2017-08-08</td>
                    </tr>
                    <tr>
                        <td align="center"  valign="middle" bgcolor="#ccc" width="150px" height="30">所属区服</td>
                        <td align="center"  valign="middle" width="420x" height="30">电五唯满侠</td>
                    </tr>
                    <tr>
                        <td align="center"  valign="middle" bgcolor="#ccc" width="150px" height="30">发布内容</td>
                        <td align="center"  valign="middle" width="420x" height="30">电五唯满侠七红280、六红9800</td>
                    </tr>
                    <tr>
                        <td align="center"  valign="middle" bgcolor="#ccc" width="150px" height="30">页面链接</td>
                        <td align="center"  valign="middle" width="420x" height="30">OrData/pages/accountDetail.html</td>
                    </tr>
                    <tr>
                        <td align="center"  valign="middle" bgcolor="#ccc" width="150px" height="30">贴吧楼层</td>
                        <td align="center"  valign="middle" width="420x" height="30">5楼</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer"><span class="inputtitle">因有重复发帖会显示多条。若本账号已完成交易或不再交易，请点击上方失效报告，将提升您的信用</span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>

    function Dsy()
    {
        this.Items = {};
    }
    Dsy.prototype.add = function(id,iArray)
    {
        this.Items[id] = iArray;
    }
    Dsy.prototype.Exists = function(id)
    {
        if(typeof(this.Items[id]) == "undefined") return false;
        return true;
    }

    function change(v){
        var str="0";
        for(i=0;i <v;i++){ str+=("_"+(document.getElementById(s[i]).selectedIndex-1));};
        var ss=document.getElementById(s[v]);
        with(ss){
            length = 0;
            options[0]=new Option(opt0[v],opt0[v]);
            if(v && document.getElementById(s[v-1]).selectedIndex>0 || !v)
            {
                if(dsy.Exists(str)){
                    ar = dsy.Items[str];
                    for(i=0;i <ar.length;i++)options[length]=new Option(ar[i],ar[i]);
                    if(v)options[1].selected = true;
                }
            }
            if(++v <s.length){change(v);}
        }
    }

    var dsy = new Dsy();

    dsy.add("0",["双线","电月","电点","网通"]);

    dsy.add("0_0",["双一","双二"]);
    dsy.add("0_0_0",["双剑合璧","天下归一","日月凌空","比翼齐飞"]);
    dsy.add("0_0_1",["四海一家","风雷刀谷"]);


    dsy.add("0_1",["电一","电二","电三","电四","电六","电七"]);
    dsy.add("0_1_0",["长安城","龙争虎斗"]);
    dsy.add("0_1_1",["白帝城","相知莫问","荻花宫"]);
    dsy.add("0_1_2",["微山书院","秀名尘身","秦王殿","金蛇漫舞"]);
    dsy.add("0_1_3",["日月明尊","沁园春","蝶恋花"]);
    dsy.add("0_1_4",["名扬四海","红尘寻梦","大圣归来"]);
    dsy.add("0_1_5",["一苇渡江","仙侣情缘","情深似海"]);


    dsy.add("0_2",["电五","电八"]);
    dsy.add("0_2_0",["乾坤一掷","剑胆琴心","千岛湖","平步青云","唯我独尊","梦江南","斗转星移","幽月轮","武林同庆","金榜题名"]);
    dsy.add("0_2_1",["战无不胜","亢龙有悔","引仙水榭","暗香掠影","百家争鸣","绝代天骄","风骨霸刀"]);


    dsy.add("0_3",["网一"," 网三"]);
    dsy.add("0_3_0",["李忘生","飞龙在天","松烟竹雾"]);
    dsy.add("0_3_1",["破阵子","天鹅坪","雪絮金屏","飞鸢泛月"]);


</script>
<script>


    var s=["s1","s2","s3"];
    var opt0 = ["请选择","请选择","请选择"];
    function setup()
    {
        for(i=0;i <s.length-1;i++)
            document.getElementById(s[i]).onchange=new Function("change("+(i+1)+")");
        change(0);
    }

</script>
<script>
    //声明省
    var pres = ["双线","电月","电点","网通"]; //直接声明Array
    //声明市
    var cities = [
        ["双一","双二"],
        ["电一","电二","电三","电四","电六","电七"],
        ["电五","电八"],
        ["网一"," 网三"]
    ];
    var areas = [
        [
            ["双剑合璧","天下归一","日月凌空","比翼齐飞"],
            ["四海一家","风雷刀谷"]
        ],
        [
            ["长安城","龙争虎斗"],
            ["白帝城","相知莫问","荻花宫"],
            ["微山书院","秀名尘身","秦王殿","金蛇漫舞"],
            ["日月明尊","沁园春","蝶恋花"],
            ["名扬四海","红尘寻梦","大圣归来"],
            ["一苇渡江","仙侣情缘","情深似海"]
        ],
        [
            ["乾坤一掷","剑胆琴心","千岛湖","平步青云","唯我独尊","梦江南","斗转星移","幽月轮","武林同庆","金榜题名"],
            ["战无不胜","亢龙有悔","引仙水榭","暗香掠影","百家争鸣","绝代天骄","风骨霸刀"]
        ],
        [
            ["李忘生","飞龙在天","松烟竹雾"],
            ["破阵子","天鹅坪","雪絮金屏","飞鸢泛月"]
        ]
    ]
    //设置一个省的公共下标
    var pIndex = -1;
    var preEle = document.getElementById("pre");
    var cityEle = document.getElementById("city");
    var areaEle = document.getElementById("area");
    //先设置省的值
    for (var i = 0; i < pres.length; i++) {
        //声明option.<option value="pres[i]">Pres[i]</option>
        var op = new Option(pres[i], i);
        //添加
        preEle.options.add(op);
    }
    function chg(obj) {
        if (obj.value == -1) {
            cityEle.options.length = 0;
            areaEle.options.length = 0;
        }
        //获取值
        var val = obj.value;
        pIndex = obj.value;
        //获取ctiry
        var cs = cities[val];
        //获取默认区
        var as = areas[val][0];
        //先清空市
        cityEle.options.length = 0;
        areaEle.options.length = 0;
        for (var i = 0; i < cs.length; i++) {
            var op = new Option(cs[i], i);
            cityEle.options.add(op);
        }
        for (var i = 0; i < as.length; i++) {
            var op = new Option(as[i], i);
            areaEle.options.add(op);
        }
    }
    function chg2(obj) {
        var val = obj.selectedIndex;
        var as = areas[pIndex][val];
        areaEle.options.length = 0;
        for (var i = 0; i < as.length; i++) {
            var op = new Option(as[i], i);
            areaEle.options.add(op);
        }
    }
</script>
<script type="text/javascript">
    $('.table-th').click(function () {
        if($(this).children('.sort').length>0){
            $(this).children('.sort').toggleClass('active');
        }
    });
  //页签切换
  $().ready(function(e) {
    $(".s_top ul li").click(function(){
      var listindex=$(".s_top ul li").index(this)
      $(".s_top ul li").removeClass('cur');
      $(this).addClass('cur')
      $(".show0,.show1").hide();
      $('.show'+listindex).show()
    })
  });
    $('.modalBtn').click(function () {
        $(this).parents('#maincontent').siblings('.modal').addClass('madalHide');
    })

    var colose = $('.close');
    var cancel = $('.btn-default');
    $(colose,cancel).click(function () {
        $(this).parents('.modal').removeClass('madalHide');
    })
</script>
</html>
